page-home{
  rname {
		text-align: center;
		text-transform: capitalize;
	}
	.yourmail {
		text-align: center;
	}
	.yourmail span {
		font-weight: bold;
	}
	.updateEmail {
		display: block;
		width: 83px;
		margin: 0 auto;
	}
	.disp-none {
		display: none;
	}
	form ion-item {
		padding-left: 0 !important;
	}
	.text-center {
		text-align: center;
	}
	.text-center button {
		margin: 0;
	    position: relative;
	    top: -3px;
	    padding-left: 5px;
	    padding-right: 5px;
	}
	.del-btn {
		
	}
	.profile-pic {
		width: 100px;
		height: 100px;
		border-radius: 100%;
		display: block;
		margin: 0 auto;
	}
	.otp-input input {
		text-align: center;
	}
}